.visitor-counter {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  margin-top: 30px;

  padding: 10px 20px;

  border-radius: 50px;

  color: #fff;

  font-size: 16px;

  font-weight: 600;
}

.visitor-counter span {
  color: #06b6d4;

  font-size: 18px;

  font-weight: 700;
}